/* Project details */

.actionIcon {
  border: 1px solid #e4e4e7;
  border-radius: var(--mantine-radius-md);
}

.popoverText {
  font-size: var(--mantine-font-size-md);
  font-weight: 500;
  color: var(--mantine-color-black);
  padding: 6px 16px;
  border-radius: var(--mantine-radius-md);
  transition: all 0.2s ease-in-out;
  user-select: none;
  &:hover {
    background-color: var(--mantine-color-gray-1);
  }
  &:active {
    transform: scale(0.98);
    background-color: var(--mantine-color-gray-2);
  }
}

.segmentedControlLabel {
  padding: 0.5rem 3rem;
}

@media (max-width: 1024px) {
  .segmentedControlLabel {
    padding: 0.5rem 1.5rem;
  }
}

@media (max-width: 768px) {
  .segmentedControlRoot {
    width: 100%;
  }
}

/* Project card */

.icon {
  width: 48px;
  height: 48px;
  border-radius: var(--mantine-radius-md);
  color: var(--clr-projects-card-icon);
}

.card {
  background-color: var(--clr-projects-card-bg);
  padding: 1.2rem 1.6rem;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.name {
  font-size: var(--size-xl);
  font-weight: 600;
  color: var(--clr-projects-card-title);
}

.description {
  font-size: var(--size-sm);
  font-weight: 400;
  color: var(--clr-projects-card-description);
}

.status {
  font-size: var(--size-sm);
  font-weight: 400;
  color: var(--clr-projects-card-status);
}

/* Add projects modal */

.label {
  font-size: var(--size-sm);
  font-weight: 500;
  color: #344054;
  margin-bottom: 8px;
}

.wrapper {
  border-radius: 8px;
}

.input {
  border-radius: 8px;
  border: 1px solid #465ff166;
}

.input,
.innerInput {
  font-size: var(--size-base);
  font-weight: 400;
  &::placeholder {
    color: #667085;
  }
}

.root:focus-within .input {
  border-color: #283ab6;
}
