.navbar {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-navbar-bg);
  position: relative;
  transition: width 0.3s ease-in-out;
}

.addNew {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  cursor: pointer;
  color: var(--mantine-color-black);
  background-color: var(--clr-add-new-bg);
  transition: all 0.3s ease-in-out;
  margin-bottom: 2.75rem;
  overflow: hidden;

  &:hover {
    background-color: var(--clr-navbar-active);
    color: var(--clr-white);
  }

  &:active {
    transform: scale(0.95);
  }
}

.collapsed .addNew {
  justify-content: center;
}

.addNew > span {
  font-size: var(--size-base);
  font-weight: 500;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  flex-shrink: 0;
}

.navbarMain {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: 1px solid var(--clr-navbar-active);
}

.version {
  background-color: var(--mantine-color-blue-7);
  color: var(--mantine-color-white);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &:hover {
    background-color: var(--clr-navbar-hover);
    color: var(--mantine-color-white);

    .linkIcon {
      color: var(--mantine-color-white);
    }
  }

  &[data-active] {
    &,
    &:hover {
      box-shadow: var(--mantine-shadow-sm);
      background-color: var(--clr-navbar-active);
      color: var(--clr-white);

      .linkIcon {
        color: var(--clr-white);
      }
    }
  }
}

.link > span {
  white-space: nowrap;
}
.collapsed .link {
  justify-content: center;
}

.linkIcon {
  color: var(--mantine-color-blue-1);
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  height: 25px;
  transition: margin-right 0.3s ease-in-out;
  flex-shrink: 0;
}

.collapsed .linkIcon {
  margin-right: 0;
}

.collapser {
  position: absolute;
  top: 3rem;
  right: -2rem;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: #dcebff;
  color: var(--mantine-color-black);
  border-radius: var(--mantine-radius-xl);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  transition:
    background-color 0.2s,
    transform 0.2s,
    color 0.2s;
  z-index: 10;
  &:hover {
    background-color: var(--clr-navbar-active);
    color: var(--clr-white);
  }
}


@media (max-width: 767px) {
  .collapser {
    display:none
  }
}