/* File Preview Styles */
.filePreviewContainer {
  background-color: #f9fafb;
  border-radius: 8px;
  padding: 12px;
  gap: 10px;
}

.filePreview {
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
}

/* AWS Setup Stepper */

.stepLabel {
  font-size: var(--size-base);
  font-weight: 500;
  color: #333333;
}

.content {
  margin-top: 2rem;
}

.stepCompletedIcon {
  color: var(--mantine-color-white);
}
